body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #f4c4c4;
  font-size: small;
}
body :active {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 2s;
  background: #059191;
}

.navbar-brand {
  font-size: small;
  display: block;
  transition: 1s;
}
main {
  padding: 1rem;
}
#header {
  width: 100%;
  height: 100px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-bottom: 2px;
}

#content1 {
  font-size: 3rem;
  height: 800px;
  border-bottom: 2px solid rgb(146, 144, 144);
  flex-grow: 3;
}
@media (max-width: 499px)
.animationvideo {
    padding-right: 20px;
    margin-top: -20px;
    margin-bottom: -46px;
}

.playlabelcircle {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
}

.c-home-header-play__circle {
    position: absolute;
    top: 50%;
    left: 50%;
}

#content2 {
  font-size: 3rem;
  height: 800px;
  flex-grow: 7;
  min-width: 400px;
  border-bottom: 1px solid rgb(146, 144, 144);
}

#footer {

  height: 100px;
  width: 100%;
  background-color: dodgerblue;
  animation-duration: 93.7833s;
  animation-play-state: running;
  animation-name: marquee;
}



