body {
  margin: auto;
  font-family: Karla, Helvetica, Arial, sans-serif;
  font-size: small;
  animation-name: backgroundcolour;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes backgroundcolour {
  0% {
    background-color: #f4c4c4;
    color: rgb(56, 55, 55);
  }
  25% {
    background-color: #059191;
    color: rgb(245, 240, 240);
  }
  50% {
    background-color: rgb(245, 247, 246);
    color: rgb(209, 3, 3);
  }
  70% {
    background-color: rgba(12, 11, 11, 0);
    color: rgb(2, 104, 107);
  }
  100% {
    background-color: rgba(12, 11, 11, 0);
    color: rgb(175, 248, 197);
  }
}


.container-fluid {
  font-size: 15px;
  display: inline-block;
  position: fixed;
  margin: none;
  margin-top: 30px;
  border-bottom: 2px solid ;
  padding: 15px;
}

.navbar-brand {
  float: left;
}

.nav-item {
  float: right;
  transform: translateX(100%);
  padding-right: 50px;
  justify-content: center;
}
i {
  vertical-align: middle;
  width: 4px;
  height: 4px;
  bottom: 4px;
  left: 2%;
  top: 31px;
  position: fixed;
  color: rgb(43, 42, 42);
  animation: spin 2s linear normal;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#container {
  margin-top: 30px;
  display: block;
  flex-wrap: wrap;
  align-items: stretch;
  border-bottom: 2px;
}

#content1 {
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  height: 900px;
  border-bottom: 2px solid ;
}

.btn {
  -webkit-text-fill-color: rgb(254, 254, 255);
  padding: 30px 10px;
  background-color: grey;
  border-radius: 90%;
  transition: padding;
  transition-duration: 3s;
  position: absolute !important;
}

Video {
  width: 50%;
  height: auto;
}

.writeup {
  position: absolute;
  font-size: 3rem;
  text-align: center;
  right: 0%;
  height: 800px;
  min-width: 400px;
  border-bottom: 1px solid ;
}
.card {
  animation-name: backgroundcolour;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes backgroundcolour {
  0% {
    background-color: #f4c4c4;
    color: rgb(56, 55, 55);
  }
  25% {
    background-color: #059191;
    color: rgb(245, 240, 240);
  }
  50% {
    background-color: rgb(245, 247, 246);
    color: rgb(209, 3, 3);
  }
  70% {
    background-color: rgba(12, 11, 11, 0);
    color: rgb(2, 104, 107);
  }
  100% {
    background-color: rgba(12, 11, 11, 0);
    color: rgb(175, 248, 197);
  }
}

Video {
  width: 60%;
  height: fit-content;
}

.card-body {
  font-size: 15px;
  display: inline-block;
  position: absolute;
}
#customLink {
  animation-name: backgroundcolour;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes backgroundcolour {
  0% {
    background-color: #f4c4c4;
    color: rgb(56, 55, 55);
  }
  25% {
    background-color: #059191;
    color: rgb(245, 240, 240);
  }
  50% {
    background-color: rgb(245, 247, 246);
    color: rgb(209, 3, 3);
  }
  70% {
    background-color: rgba(12, 11, 11, 0);
    color: rgb(2, 104, 107);
  }
  100% {
    background-color: rgba(12, 11, 11, 0);
    color: rgb(175, 248, 197);
  }
}

#content3 {
  text-align: right;
  justify-content: right;
  font-size: 3rem;
  height: 900px;
  border-bottom: 2px solid ;
}
.row {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 4px;
}

.row img {
  position: relative;
  left: 800px;
  top: 2px;
  bottom: 0px;
  right: 30px;
  width: 100px;
  border: none;
  margin-top: 15px;
  border-bottom-style: solid;
  border-top-style: solid;
}

#content3 a {
  font-size: medium;
  font-weight: bold;
}

table {
  position: relative;
  font-size: small;
  font-weight: lighter;
  top: 2px;
  left: 1000px;
  bottom: 0px;
  right: 10px;
  width: 100px;
}

img {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100px;
}

#footer {
  position: fixed;
  font-size: 30px;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  margin-top: 10px;
  animation-duration: 100s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-name: marquee;
  border-bottom: 1px solid ;
}

.marquee {
  height: 100%;
  width: 420px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform: translateX(100%);
}

.marquee div {
  position: absolute;
  display: block;
  margin: 0;
  line-height: 50px;
  width: 200%;
  height: 50px;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}

marquee {
  margin-right: 80px;
  float: leftt;
  width: 100%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
