body {
  margin: auto;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #f4c4c4;
  font-size: small;
  animation-name: backgroundcolour;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes backgroundcolour {
  0% {
    background-color: #f4c4c4;
  }
  25% {
    background-color: #059191;
  }
  50% {
    background-color: rgb(245, 247, 246);
  }
  70% {
    background-color: rgba(12, 11, 11, 0);
  }
  100% {
    background-color: rgba(12, 11, 11, 0);
  }
}

.container-fluid {
  float: left;
  position: -webkit-sticky;
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(245, 237, 237);
}

.spinner-border spinner-border-sm {
  display: block;
  width: 7.5rem;
  height: 1px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 100;
  pointer-events: none;
}

#container {
  position: relative;
  display: block;
  flex-wrap: wrap;
  align-items: stretch;
  border-bottom: 2px;
}

#content1 {
  justify-content: center;
  font-size: 3rem;
  height: 800px;
  border-bottom: 2px solid rgb(146, 144, 144);
  
}

.btn {
  -webkit-text-fill-color: rgb(254, 254, 255);
  padding: 30px 10px;
  background-color: grey;
  border-radius: 90%;
  transition: padding;
  transition-duration: 3s;
  position: absolute !important;
}

.animation {
  width: 70%;
  height: auto;
}

#centerContent video{
  font-size: 10px;
  justify-content: left;
  width: 30%;
  height: 30px;
}

#content2 {
  font-size: 3rem;
  height: 800px;
  flex-grow: 7;
  min-width: 400px;
  border-bottom: 1px solid rgb(146, 144, 144);
}
img {
position: fixed;
bottom: 30px;
left: 0;
width: 100px;
}

#footer {
  font-size: 30px;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 300%;
  margin: auto;
  margin-top: 10px;
  animation-duration: 100s;
  animation-play-state: running;
  animation-name: marquee;
  border-bottom: 1px solid rgb(146, 144, 144);
}

.marquee {
  height: 25px;
  width: 420px;
  overflow: hidden;
  position: relative;
}

.marquee div {
  position: absolute;
  display: block;
  width: 200%;
  height: 50px;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}

.marquee span {
  float: left;
  width: 100%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
