* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #f4c4c4;
  font-size: small;
}

.navbar-brand {
  font-size: small;
  display: block;
  transition: 1s;
}

main {
  padding: 1rem;
}
